*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(white, lightgrey);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px;
}

.container{
    width: 400px;
    background: #fff;
    padding: 26px 28px;
    border-radius: 10px;
    color: black;
}

.container h1 {
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 14px;
    text-align: center;
}


.contact-us{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
    text-align: left;
}
.contact-us > div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}


.contact-us input,
.contact-us select {
    width: 100%;
    padding: 8px;
    border: 1px solid #999;
    border-radius: 5px;
    font-size: 14px;
}

.gender{
    display: flex;
    flex-direction: row;   
    align-items: center;
    gap: 10px;
    padding: 5px;
}

.gender input{
    width: auto;
}



.consent {
    flex-direction: row;
    align-items: center;
    gap: 10px;
}


button {
    margin-top: 10px;
    padding: 8px 12px;
    width: 100%;
    border: none;
    background: #222;
    color: white;
    border-radius: 5px;
}

button:hover {
    background: #000;
}
