  body {
            margin: 0;
            overflow: hidden;
            background-color: #f0f0f0;
            display: flex;
            justify-content: flex-start;
            align-items: flex-end;
            min-height: 100vh;
        }
        .ball {
            width: 50px;
            height: 50px;
            background-color: dodgerblue;
            border-radius: 50%;
            position: absolute;
            bottom: 0;
            left: 0;
            transition: all 3s ease-in-out;
        }

    
        body:hover .ball {
            left :100%;
            bottom: 100%;
            
        }
          
       