/* Reset + Base */
body {
  color: white;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

/* Grid Container */
.grid {
  width: 100vw;
  height: 100vh;
  border: 2px solid aquamarine;

  display: grid;

  /* You can experiment by uncommenting these: */
  /* grid-template-columns: 100px 100px; */
  /* grid-template-columns: 50% 200px 100px; */
  /* grid-template-columns: repeat(3, 30%); */
  /* grid-template-columns: minmax(200px, 300px) 300px; */

  /* Current setup using grid areas */
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 4fr 1fr;

  grid-template-areas:
    "a a"
    "b c"
    "b d";
}

/* Grid Items */
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}

/* Assigning Grid Areas */
.red {
  background-color: red;
  grid-area: a;
}

.blue {
  background-color: blue;
  grid-area: b;
}

.green {
  background-color: green;
  grid-area: c;
}

.orange {
  background-color: orange;
  grid-area: d;
}

/* Optional: Manual grid positioning example (uncomment to test)
.red {
  background-color: red;
  grid-column-start: 1;
  grid-column-end: 3;
}
.blue {
  background-color: blue;
  grid-row-start: 2;
  grid-row-end: 4;
}
.green {
  background-color: green;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}
.orange {
  background-color: orange;
  grid-row: 3/4;
  grid-column: 2/3;
}
*/
