/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Body */
body {
   background: linear-gradient(135deg, #6d7cff, #8f9cff);
  padding-bottom: 60px;
}

/* Header */
.header {
  background: #4267b2;
  color: white;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#user-info {
  display: flex;
  align-items: center;
  gap: 8px;
}

#user-avatar {
  background: white;
  color: #4267b2;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

/* Create Post */
.create-post {
  background: white;
  max-width: 600px;
  margin: 20px auto;
  padding: 15px;
  border-radius: 6px;
}

.create-post textarea {
  width: 100%;
  height: 80px;
  padding: 8px;
  resize: none;
  margin-bottom: 8px;
}

.post-actions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
}

#image-preview {
  width: 100%;
  margin-top: 10px;
  display: none;
  border-radius: 4px;
}

.create-post button {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #4267b2;
  color: white;
  border: none;
  cursor: pointer;
}

/* Filters */
.filters {
  max-width: 600px;
  margin: auto;
  display: flex;
  gap: 10px;
}

.filters button {
  flex: 1;
  padding: 8px;
  border: none;
  background: #ddd;
  cursor: pointer;
}

/* Feed */
#feed {
  max-width: 600px;
  margin: 20px auto;
}

/* Post */
.post {
  background: white;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 6px;
}

.post img {
  width: 100%;
  margin-top: 8px;
  border-radius: 4px;
}

.post-actions-btn {
  margin-top: 8px;
  display: flex;
  gap: 10px;
}

.post-actions-btn button {
  background: none;
  border: none;
  cursor: pointer;
}

/* Load More */
#load-more {
  display: block;
  margin: auto;
  padding: 10px;
  border: none;
  background: #4267b2;
  color: white;
  cursor: pointer;
}

/* Scroll Top */
#scroll-top {
  position: fixed;
  bottom: 15px;
  right: 15px;
  padding: 10px;
  display: none;
}
