      * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      
    }
    
    
    body {
      background-color: #fffaf4;
    }

    header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 60px;
      background-color: rgb(132, 132, 224);
      margin-bottom: 50px;
      padding-bottom: 50px;
     
    }

    nav a {
      margin: 0 15px;
      text-decoration: none;
      color: #333;
      font-weight: 500;
    }


    .auth-buttons button {
      margin-left: 10px;
      padding: 6px 14px;
      border: 1px solid black;
      background-color: white;
      border-radius: 6px;
      font-weight: 500;
    }

   

    .header nav {
        justify-content: space-between;
        align-items: center;

    }

    .main {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 40px;
      padding: 60px 100px;
      border: 2px solid #070707 ;
      margin: 100px auto;
      padding: 50px;
      width: fit-content;
      
    }

    .main img {
      width: 500px;
      border-radius: 10px;
    }

    .content {
      color: #333;
    }

    .content h1 {
      font-size: 36px;
      color: #070707;
      margin-bottom: 15px;
    }

    .content p {
      font-size: 16px;
      line-height: 1.6;
      margin-bottom: 15px;
    }

    .content .date {
      font-size: 14px;
      color: rgb(105, 26, 26);
    }

    footer {
      background-color: #222;
      color: #ddd;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      padding: 50px 80px;
      gap: 100px;
    }

    footer h3 {
      color: #fff;
      margin-bottom: 15px;
    }

    footer ul {
      list-style: none;
    }

    footer ul li {
        margin: 10px;

    }
    footer ul li a {
      text-decoration: none;
      color: #ddd;
      font-size: 15px;
    }

