* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f1cdb7;
}

h1 {
  text-align: center;
  margin-top: 20px;
  font-size: 3.5rem;
  color: rgb(140, 5, 181);
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 2.5rem;
}

.container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  gap: 10px;
}

.box {
  height: 100px;
  width: 100px;
  font-size: 2.5rem;
  color: red;
  font-weight: bold;
  background-color: #ffffff;
  border: 2px solid #333;
  cursor: pointer;
  border-radius: 10px;
}

.reset {
  margin-top: 20px;
  padding: 10px 25px;
  font-size: 1.2rem;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.reset:hover {
  background-color: #555;
}
